/*@media screen and (min-width:365px) and (max-width: 1200px) {*/
    /*NOTE: entire CSS Stylesheet needs to be placed with the correct media query*/
    * {
        box-sizing: border-box;
        font-family: sans-serif;
    }

    body {
        margin: 0;
        display: grid;
        /*min-width: 100%;*/
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: .2fr .5fr 1fr 1fr .3fr .3fr .1fr;
        grid-template-areas:
        "         main        main      main         "
        "         h1          h1        h1           "
        "         nav         nav       nav          "
        "         img         img       img          "
        "         section-1   section-1 section-1    "
        "         section-2   section-2 section-2    "
        "         footer      footer    footer       ";
    }

    .alert-info {
        grid-area: main;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: lightcyan;
        border: 2px solid grey;
        /*margin: auto;*/
        font-size: 3em;
    }

    .alert-info a {
        text-decoration: none;
    }

    body h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-area: h1;
        font-size: 12em;
    }

    nav {
        grid-area: nav;
    }

    nav ul {
        padding: 0;
    }

    .nav-links {
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }

    .nav-links li {
        background-color: grey;
        padding: 3em;
        text-align: center;
        margin: 5px;
    }

    .nav-links a {
        font-size: 5em;
    }

    .header-img {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: img;
        padding-top: 0;
    }

    .main {
        grid-area: section-1;
        font-size: 1.5em;
        margin: 1em;
    }

    .sub-section {
        grid-area: section-2;
        font-size: 1.5em;
        margin: 1em;
    }

    footer {
        grid-area: footer;
        margin: 1em;
    }

footer ul {
    /*Added*/
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    margin-left: 100em;
}

footer li {
    /*Added*/
    /*margin-left: auto;*/
    padding: 1em;
    font-size: 2em;
}
/*}*/

/* Large devices (desktops, 992px and up) */ /*A. Changed min-Width*/
@media screen and (min-width:960px) {


    body {
        display: grid;
        margin: 1em; /*Added*/
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 2fr 1fr .5fr;
        grid-template-areas:
                " h1 nav "
                " img img "
                " section-1  section-2"
                "footer footer";
        height: 100vh;
    }

    .hidden-on-desktop {
        display: none;
    }

    h1 {
        display: flex; /*Added*/
        flex-direction: row; /*Added*/
        /*align-items: baseline; !*Added*!*/
        grid-area: h1;
        /*margin-left: 1px;*/
        /*margin-top: 5PX;*/
        margin-left: -3em; /*Added*/
        font-size: 3em;
    }

    nav {
        display: flex;  /*Added*/
        grid-area: nav;
        margin-left: auto;
    }

    .header-img {
        /* Changed the Image*/
        grid-area: img;
        min-width: 992px;

    }

    .nav-links {
        display: flex;
        flex-direction: row;
        align-items: center; /*Added*/
        background-color: white;

    }

    .nav-links li {
        list-style-type: none;
        background-color: white;
        padding: 10px;
        font-size: .8em;
    }

    .main {
        grid-area: section-1;
    }

    .sub-section {
        grid-area: section-2;
    }

    footer {
        grid-area: footer;
        display: flex;

    }

    #social-media-links {
        /*Added*/
        display: flex;
        flex-direction: row;
    }

    footer p {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.5em; /*Added*/
        /*align-items: center;*/
    }

    footer ul {
        /*Added*/
        display: flex;
        list-style: none;
        justify-content: flex-end;
        margin-left: 100em;
    }

    footer li {
        /*Added*/
        /*margin-left: auto;*/
        padding: 1em;
        font-size: 2em;
    }

}
/*Added to help mediate the transition...something still seems off*/
@media screen and (min-width: 500px) and (max-width: 959px) {
    footer {
        display: none;
    }
    main {
        width: 90%;
        margin: auto;
    }

}

/*Bonus: Add Social Media Icons*/