* {
    box-sizing: border-box;
    background-color: cornflowerblue;
}

body {
    margin: 15px;
    min-width: 576px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
                " .        main        main      main       .  "
                " .        h1          h1        h1         .  "
                " .        nav         nav       nav        .  "
                " .        img         img       img        .  "
                " .        section-1   section-1 section-1  .  "
                " .        section-2   section-2 section-2  .  "
                " .        footer      footer    footer     .  ";
}

.alert-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightcyan;
    grid-area: main;
    border: 2px solid grey;
}

/*.hidden-on-desktop {*/
/*    !*background-color: indianred;*!*/
/*}*/

body h1 {
    display: flex;
    background-color: chartreuse;
    grid-area: h1
}
h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
}

nav {
    grid-area: nav;

}

.nav-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    background-color: lightpink;
}

/*nav ul li {*/
/*    background-color: brown;*/
/*}*/



.header-img {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: img;
}

.main {
    grid-area: section-1;
}

.sub-section {
    grid-area: section-2;
}

footer {
    grid-area: footer;
}

/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:576px) { /* ... */ }

/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) { /* ... */ }


